
<div class="form-inline">
  <p>{{topic}}</p>
  <button type="button" class="btn btn-warning"(click)="onLeave()">leave</button>
  <button type="button" class="btn btn-danger" (click)="onDisconnect()">disconnect</button>
</div>
<br>
<div [hidden]="!admin">
    <div class="form-inline">
      <input type="text" class="form-control" [(ngModel)]="newTopic" />
      <button type="button" class="btn btn-info" (click)="onChangeTopic()">changeTopic</button>
    </div>
</div>

<!--
<div class="alert alert-success">
  <strong>Success!</strong> joined {{roomId}}.
</div>-->
<div class="row">
  <div class="col-md-6">
    <table class="table table-fixed">
      <thead>
        <tr>
          <th class="col-xs-4">message</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="col-xs-4">
            <ul class="list-unstyled"><li *ngFor="let message of messageHistory">{{message}}</li></ul>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="form-inline">
      <input type="text" class="form-control" [(ngModel)]="msg" />
      <button type="button" class="btn btn-success" (click)="onSend()">send message</button>
    </div>
  </div>

  <div class="col-md-6">
    <table class="table table-fixed">
      <thead>
        <tr>
          <th class="col-xs-4">users</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="col-xs-4">
            <ul class="list-unstyled"><li *ngFor="let user of users">{{user}}</li></ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<h2>private message</h2>
<div class="row">
  <div class="col-md-6">
    <table class="table table-fixed">
      <thead>
        <tr>
          <th class="col-xs-4">Private message</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="col-xs-4">
            <ul class="list-unstyled">  <li *ngFor="let psmessage of PsmessageHistory">{{psmessage}}</li></ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="form-inline">
    user:
    <input type="text" class="form-control" [(ngModel)]="psUser" /> message:
    <input type="text" class="form-control" [(ngModel)]="psMsg" />
    <button type="button" class="btn btn-default" (click)="onPsMsg()">send private message</button>
</div>

<div [hidden]="!admin">

  <h2>Admin controls</h2>
  <div class="form-inline">
    User:
    <input  type="text" class="form-control" [(ngModel)]="OpUser" />
    <button type="button" class="btn btn-primary" (click)="onKick()">kick</button>
    <button type="button" class="btn btn-primary" (click)="onBan()">ban</button>
    <button type="button" class="btn btn-primary" (click)="onDeBan()">deBan</button>
    <button type="button" class="btn btn-primary" (click)="onOp()">op</button>
    <button type="button" class="btn btn-primary" (click)="onDeOp()">deop</button>
  </div>
</div>
<br><br><br>
